@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

/*-------------------- Body --------------------*/

body {
    font-family: 'Roboto', sans-serif;
    color: #636060;
    margin: 0;
    background-color: #ebebeb;
}

/*-------------------- Header --------------------*/

header {
    background-color: #EAC926;
    color: #000000;
    padding: 0.5rem 1rem 1rem 1rem;
    /* position: fixed;
    top: 0px;
    width: 100%; */
}

header p {
    text-align: center;
    font-size: 14px;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #222222;
    display: inline-block;
    text-decoration: none;
    padding: 3px 0;
    font-size: 14px;
}

nav {display: none;}

nav li {margin: 0 5px;}

#hamburguesa {
    background-color: #1259c3;
    color: #ffffff;
    display: block;
    max-width: 40px;
    text-align: center;
    border-radius: 15%;
    padding: 10px 0;
    margin: auto;
    margin-top: 1rem;
}

.fa-bars {font-size: 20px;}

#headerFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#seccionLogo {
    padding: 0.5rem 0.8rem 0.5rem 0;
    width: 50%;
}

#logo {width: 100%;}

#seccion-busqueda {
    text-align: left;
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;

}

#barraBusqueda {
    width: 100%;
    height: 2.2rem;
    border: none;
    border-radius: 4px 0 0 4px;
    ;
    padding-left: 0.5rem;
    background-color: #ffffff;
}

.fa-magnifying-glass {
    color: grey;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.4rem;
}

#botonLupa {
    background-color: #ffffff;
    border-left: 1px solid #ebebeb;
    border-radius: 0 4px 4px 0;
    align-self: stretch;
}

#navFlex {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    justify-content: space-between;
}

.BarrasNavFlexIzq {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    justify-content: space-around;
}

.BarrasNavFlexDer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    justify-content: space-around;
}

/*-------------------- Main --------------------*/

main {
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    /* position: relative;
    top: 200px;
    z-index: -1; */
}

#banner {
    width: 100%;
    /* position: relative;
    top: 180px;
    z-index: -1; */
}

/*-------------------- Articulos --------------------*/

article {
    margin-bottom: 20px;
    background-color: white;
    padding-bottom: 0.5rem;
    width: 100%;
    transition: all 0.3s;
    ;
}

article h3 {
    margin: 0;
}

.imagen {
    width: 100%;
    max-width: 800px;
}

.cajaElementosArticulos {
    border-top: solid 1px #ebebeb;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1rem;
    position: relative;
}

.cajaElementosArticulos h2 {
    display: none;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 16px;
    transition: opacity 0.3s;
    color: rgb(124, 124, 124);
}

.contenedorCamion {
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 0.5s;
}

.fa-truck {
    color: #39b54a;
    font-size: 16px;
}

.titulares {
    font-size: 24px;
    margin-bottom: 1.5rem;
}

.contenedorPrecio {
    display: flex;
    flex-wrap: nowrap;
}

.precios {
    font-size: 18px;
    margin: auto;
    width: 30%;
    font-weight: bolder;

}

.off {
    color: #39b54a;
    font-size: 16px;
    margin: auto;
    width: 70%;

}

.articulosFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/*-------------------- Formulario --------------------*/

#formularioRegistro {
    color: #000000;
    font-weight: bold;
    max-width: 700px;
    margin: auto;
}

.barraInput {
    min-height: 2rem;
    padding: 0 0.8rem 0 0.8rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border: none;
    border-radius: 5px;
    max-width: 700px;
    margin: 1rem 0 1rem 0;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

#botonCargarFoto {
    font-size: 13.33px;
    font-weight: lighter;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
    border-radius: 5px;
    border: none;
    background-color: #1259c3;
    color: #ffffff;
    padding: 0.6rem 50px;
    transition: all 0.2s;
}

#botonCargarFoto:hover {background-color: #0022AA;}

#botonCargarFoto:active {
    background-color: white;
    color: #000000;
}

.opciones {
    font-weight: lighter;
    font-size: 14px;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

.checkboxes {margin-bottom: 1rem;}

#recuadro {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgb(100, 100, 100);
    text-align: center;
}

#foto {
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
}

.botonEnviar {
    min-height: 2rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border: none;
    border-radius: 5px;
    max-width: 700px;
    margin: 1rem 0 1rem 0;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
    background-color: #1259c3;
    color: white;
    transition: all 0.2s;
}
.botonEnviar:hover {background-color: #0022AA;}
.botonEnviar:active {
    background-color: white;
    color: #000000;
}

.botonResetear {
    min-height: 2rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border: none;
    border-radius: 5px;
    max-width: 700px;
    margin: 1rem 0 1rem 0;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
    background-color: #b90000;
    color: white;
    transition: all 0.2s;
}
.botonResetear:hover {background-color: #a00000;}
.botonResetear:active {
    background-color: white;
    color: #000000;
}

.botonEnviarLogin {
    min-height: 2rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border: none;
    border-radius: 5px;
    max-width: 700px;
    margin: 1rem 0 1rem 0;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
    background-color: #1259c3;
    color: white;
    transition: all 0.2s;
}
.botonEnviarLogin:hover {background-color: #0022AA;}
.botonEnviarLogin:active {
    background-color: white;
    color: #000000;
}

#seccionBotonesFormulario {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#cargarFoto {width: 0%;}

/* ------------------------------ Footer ---------------------------------------- */

footer {
    text-align: center;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
}

#footerLogin {
    text-align: center;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
}

footer section {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer i {
    color: #1259c3;
    font-size: 2rem;
    margin-bottom: 10px;
}

footer h4 {
    font-weight: bold;
    margin: 0px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

#copyright {
    font-size: 14px;
    font-weight: lighter;
    margin: 1.5rem 1rem 0.5rem 1rem;

}

/* -------------------------- Media Queries -------------------------- */

/* Tablets */
@media (min-width: 475px) {

    /* --------- articulos --------- */
    article {
        width: 46%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .cajaElementosArticulos h2 {
        display: block;
        opacity: 100%;
    }
    .off {text-align: center;}

    /* --------- header--------- */
    header {padding-bottom: 0.5rem;}
    #headerFlex {justify-content: space-between;}
    #seccionLogo {width: 33%;}
    #seccion-busqueda {width: 33%;}
    header p {width: 33%;}

    /* --------- nav --------- */
    nav {display: block;}
    #seccionHamburguesa {display: none;}

    /* --------- footer --------- */
    footer section {
        padding-top: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

/* Desktop-Laptop */
@media (min-width: 1024px) {

    /* --------- articles ---------- */
    article {
        width: 23%;
        box-shadow: 0px 0px 0px rgb(100, 100, 100);
    }
    article:hover {box-shadow: 0px 0px 10px rgb(100, 100, 100);}
    article:hover .cajaElementosArticulos h2 {opacity: 100%;}
    .cajaElementosArticulos h2 {
        display: block;
        opacity: 0%;
    }
    .contenedorCamion:hover {transform: rotateZ(-90deg);}

    /* --------- header ---------- */
    header p {
        font-size: 16px;
        margin-left: 0;
        margin-right: 0;
    }
    
    /* --------- nav ---------- */
    .BarrasNavFlexIzq {
        width: 40%;
        justify-content: space-between;
    }
    .BarrasNavFlexDer {
        width: 40%;
        justify-content: space-between;
    }
    nav a {font-size: 16px;}

    /* ----- main ----- */
    main {
        position: relative;
        top: 2rem;  
    }

    /* --------- footers ---------- */
    footer {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    #footerLogin {
        flex-flow: row wrap;
        justify-content: space-between;
        position: fixed;
        bottom: 0px; 
    }
    footer section {
        width: 30%;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* --- iconos footer --- */
    .fa-credit-card:hover {color: #EAC926;}
    .fa-gift:hover {color: #EAC926;}
    .fa-user-shield:hover {color: #EAC926;}
}

@media (min-width: 1440px) {

    header p {font-size: 18px;}

    nav a {font-size: 18px;}

    main {
        position: relative;
        top: 4rem;  
    }
}