<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Load styles.css file -->
    <link rel="stylesheet" href="/css/styles.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mercado Liebre - Home</title>
</head>

<body>

    <header>
        <section id="main-header-top-bar">
           
            <div id="headerFlex">
                <section id="seccionLogo">
                    <a href="/"><img id="logo" src="/images/logo-mercado-liebre.svg" alt=""></a>
                </section>
                <section id="seccion-busqueda">
                    <input id="barraBusqueda" type="text" placeholder="Buscar productos, marcas">
                    <a href="#" id="botonLupa"><i class="fa-solid fa-magnifying-glass"></i></a>
                </section>
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            
        </section>
        <nav>
            <div id="navFlex">
                <ul type = "none" class="BarrasNavFlexIzq">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                
                <ul type = "none" class="BarrasNavFlexDer">
                    <li><a href="/registro">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá</a><i class="fa-sharp fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul> 
            </div>
        </nav>

        <div id="seccionHamburguesa">
            <a href="#" id="hamburguesa">
                <i class="fas fa-bars"></i>
            </a>    
        </div>
        

    </header>

    <img src="/images/img-home-banner.jpg" alt="Imagen Banner" id="banner">
        

    <main>
        <section>

            <h1 class="titulares">Basado en tu última visita</h1>
            <div class="articulosFlex">
                <article>
                    <img class="imagen" src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="cajaElementosArticulos">
                        <div class="contenedorCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="contenedorPrecio">
                            <p class ="precios">$6.770</p>
                            <p class="off">40% off</p>
                        </div>
                        <h2>Cafetera Moulinex</h2>
                    </div>
                </article>

                <article>
                    <img class="imagen" src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="cajaElementosArticulos">
                        <div class="contenedorCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="contenedorPrecio">
                            <p class ="precios">$230.000</p>
                            <p class="off">20% off</p>
                        </div>
                        <h2>MacBook Pro 2019</h2>
                    </div>
                </article>

                <article>
                    <img class="imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="cajaElementosArticulos">
                        <div class="contenedorCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="contenedorPrecio">
                            <p class ="precios">$70.500</p>
                            <p class="off">10% off</p>
                        </div>
                        <h2>Samsung Galaxy S10</h2>
                    </div>
                </article>

                <article>
                    <img class="imagen" src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="cajaElementosArticulos">
                        <div class="contenedorCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="contenedorPrecio">
                            <p class ="precios">$23.200</p>
                            <p class="off">5% off</p>
                        </div>
                        <h2>SmartTv Samsung 43"</h2>
                    </div>
                </article>
            </div>
        </section>
        <br>
        <section>

            <h1 class="titulares">Ofertas</h1>
            <div class="articulosFlex">
                <article>
                    <img class="imagen" src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="cajaElementosArticulos">
                        <div class="contenedorCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="contenedorPrecio">
                            <p class ="precios">$6.770</p>
                            <p class="off">40% off</p>
                        </div>
                        <h2>Cafetera Moulinex</h2>
                    </div>
                </article>

                <article>
                    <img class="imagen" src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="cajaElementosArticulos">
                        <div class="contenedorCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="contenedorPrecio">
                            <p class ="precios">$230.000</p>
                            <p class="off">20% off</p>
                        </div>
                        <h2>MacBook Pro 2019</h2>
                    </div>
                </article>

                <article>
                    <img class="imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="cajaElementosArticulos">
                        <div class="contenedorCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="contenedorPrecio">
                            <p class ="precios">$70.500</p>
                            <p class="off">10% off</p>
                        </div>
                        <h2>Samsung Galaxy S10</h2>
                    </div>
                </article>

                <article>
                    <img class="imagen" src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="cajaElementosArticulos">
                        <div class="contenedorCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="contenedorPrecio">
                            <p class ="precios">$23.200</p>
                            <p class="off">5% off</p>
                        </div>
                        <h2>SmartTv Samsung 43"</h2>
                    </div>
                </article>
            </div>
        </section>

    </main>

    <footer>

        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <h4 id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        

    </footer>

</body>

</html>