<!DOCTYPE html>

<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Load styles.css file -->
    <link rel="stylesheet" href="/css/styles.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mercado Liebre - Registro</title>
</head>

<body>

    <header>
        <section id="main-header-top-bar">

            <div id="headerFlex">
                <section id="seccionLogo">
                    <a href="/"><img id="logo" src="/images/logo-mercado-liebre.svg" alt=""></a>
                </section>
                <section id="seccion-busqueda">
                    <input id="barraBusqueda" type="text" placeholder="Buscar productos, marcas">
                    <a href="#" id="botonLupa"><i class="fa-solid fa-magnifying-glass"></i></a>
                </section>
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

        </section>
        <nav>
            <div id="navFlex">
                <ul type="none" class="BarrasNavFlexIzq">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul type="none" class="BarrasNavFlexDer">
                    <li><a href="/registro">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá</a><i class="fa-sharp fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
        </nav>

        <div id="seccionHamburguesa">
            <a href="#" id="hamburguesa">
                <i class="fas fa-bars"></i>
            </a>
        </div>


    </header>

    <main>

        <form action="/" method="post" id="formularioRegistro">

            <div>
                <input class="barraInput" type="text" name="usuario" placeholder="Nombre de usuario" required
                    minlength="2">
            </div>
            <div>
                <input class="barraInput" type="email" name="email" placeholder="E-mail" required>
            </div>
            <div>
                <label for="nacimiento">Fecha de nacimiento</label>
                <br>
                <input class="barraInput" type="date" name="nacimiento" id="nacimiento" required>
            </div>
            <div>
                <input class="barraInput" type="text" name="domicilio" placeholder="Domicilio">
            </div>
            <div>
                <p>Perfil del usuario</p>
                <input type="radio" name="pefil" value="comprador" id="comprador" class="checkboxes">
                <label for="comprador" class="opciones">Comprador</label>
                <input type="radio" name="pefil" value="vendedor" id="vendedor" class="checkboxes">
                <label for="vendedor" class="opciones">Vendedor</label><br>
            </div>
            <div>
                <p>Intereses</p>
                <input type="checkbox" name="intereses" value="electro" id="electro" class="checkboxes">
                <label for="electro" class="opciones">Electro</label>
                <br>
                <input type="checkbox" name="intereses" value="moda" id="moda" class="checkboxes">
                <label for="moda" class="opciones">Moda</label>
                <br>
                <input type="checkbox" name="intereses" value="hogar" id="hogar" class="checkboxes">
                <label for="hogar" class="opciones">Hogar</label>
                <br>
                <input type="checkbox" name="intereses" value="jugueteria" id="jugueteria" class="checkboxes">
                <label for="jugueteria" class="opciones">Juguetería</label>
                <br>
                <input type="checkbox" name="intereses" value="vidaSana" id="vidaSana" class="checkboxes">
                <label for="vidaSana" class="opciones">Vida Sana</label>
                <br>
            </div>
            <div>
                <p>Foto del usuario</p>
                <div id="recuadro">
                    <br>
                    <!-- <input type="file" name="avatar" accept=".jpg, .png, .gif"> -->
                    <img id="foto" alt="" width="150" height="150" />
                    <br><br>
                    <label for="cargarFoto" id="botonCargarFoto">Cargar imagen</label>
                    <br>
                    <input style="visibility: hidden;" id="cargarFoto" type="file" name="avatar"
                        accept=".jpg, .png, .gif"
                        onchange="document.getElementById('foto').src = window.URL.createObjectURL(this.files[0])">
                </div>
                <br>
            </div>
            <div>
                <input class="barraInput" type="password" name="password" placeholder="Contraseña" required
                    minlength="8">
            </div>
            <div>
                <input class="barraInput" type="password" name="password" placeholder="Confirmar contraseña" required
                    minlength="8">
            </div>
            <br>
            <div id="seccionBotonesFormulario">
                <button type="reset" class="botonResetear">Borrar datos</button>
                <button type="submit" class="botonEnviar">Enviar</button>
            </div>
        </form>

    </main>

    <footer>

        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>


        <h4 id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>


    </footer>
</body>

</html>